<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список вакансий</title>
    <!-- libs -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- /libs -->
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Job4jDreamJob</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Главная</a>
                <a class="nav-link active" aria-current="page" th:href="@{/vacancies}">Вакансии</a>
                <a class="nav-link" th:href="@{/candidates}">Кандидаты</a>
                <a class="nav-link" th:href="@{/vacancies/create}">Создать вакансию</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Дата создания</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacancy : ${vacancies}">
            <th scope="row" th:text="${vacancy.id}">1</th>
            <td th:text="${vacancy.title}">Mark</td>
            <td th:text="${{vacancy.creationDate}}">Date</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- libs -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<!-- /libs -->
</body>
</html>
